body {
    margin: 0px;
    background-color: #8F57FD;
    font-family: 'Mulish', sans-serif;
}
.header {
    background-color: #8F57FD;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
}

.header__menu {
    margin-right: 60px;
}

.header__menu ul {
    display: none;
    padding: 0px 8px 0px 0px;
    list-style: none;
    text-align: right;
    position: absolute;
    width: 100px;
    margin: 0px ;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a{
    color: white;
    text-decoration: none;
}

.header__menu li a:hover{
    text-decoration: underline;
}

.header__menu--profile {
    display: flex;
}

.header__menu--profile p {
    color: white;
    margin-left: 7px;
}

.header__menu--profile img{
    margin-right: 8px;
}

.main{
    color: white;
}

.main__title{
    height: 25px;
}

.input{
    color: white;
    background-color: #AB88FF;
    border: 2px solid white;
    border-radius: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 30px;
    padding: 0px 20px;
    width: 70%;
}
::placeholder{
    color: white;
}